.first-section {
  position: relative;
  padding-bottom: 360px;
  z-index: 2;

  @media (max-width: $mobile) {
    padding-bottom: 78px;
    z-index: 4;
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 423px;
    content: '';
    z-index: 10;
    background: linear-gradient(0deg, #FFAB02 27.08%, rgba(255, 171, 2, 0) 100%),
    linear-gradient(0deg, #FFAB02 27.08%, rgba(255, 171, 2, 0) 100%),
    linear-gradient(0deg, #FFAB02 27.08%, rgba(255, 171, 2, 0) 100%),
    linear-gradient(0deg, #FFAB02 27.08%, rgba(255, 171, 2, 0) 100%),
    linear-gradient(0deg, #FFAB02 27.08%, rgba(255, 171, 2, 0) 100%);

    @media (max-width: $tablet) {
      height: 350px;
    }

    @media (max-width: $mobile) {
      content: none;
    }
  }

  &:before {
    content: none;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    height: 100px;
    display: block;
    background: linear-gradient(180deg, #FFAB02 27.08%, rgba(255, 171, 2, 0) 100%);

    @media (max-width: $mobile) {
      content: '';
    }
  }

  &__bg-img {
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 0;
    right: -50px;
    top: -67px;
    display: block;
    max-width: unset;

    @media (max-width: $mobile) {
      display: none;
    }

    &_mob {
      display: none;
      position: relative;
      left: -15px;
      z-index: 0;
      max-width: unset;

      @media (max-width: $mobile) {
        display: block;
        width: 100vw;
      }
    }

    &-top {
      position: absolute;
      z-index: 3;
      right: 0;
      top: 28px;
      display: block;
      max-width: unset;

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }
}